<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <title>Codversity</title>
</head>

<body>

  <div class="jumbotron centered">
    <div class="container">
      <h1 class="display-3">Here's your detail's</h1>

      <hr />
      <% if(user){%>
        <ul class="list">
          <li class="field-text">name: <%= user.username %>
          </li>
          <li class="field-text">Email: <%= user.email%>
          </li>
        </ul>
        <a class="btn btn-warning btn-lg me-5" href="/logout" role="button">Log Out</a>
        <% if(!user.verified){%>
          <a class="btn btn-success btn-lg me-5" href="/verify" role="button">verify</a>
          <%}}else{%>
            <a class="btn btn-primary btn-lg me-5" href="/register" role="button">Register</a>
            <a class="btn btn-primary btn-lg ms-5" href="/login" role="button">Login</a>
            <%}%>
              <a class="btn btn-success btn-lg ms-5" href="blog">Blogs</a>
              <div class="my-2">
                <p class="text-danger">
                  <%=message.error%>
                </p>
                <p class="text-success">
                  <%=message.success%>
                </p>
              </div>
    </div>
  </div>

  <%- include('partials/footer') %>